    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;900&display=swap');
    
    :root{
        --background-body:#191d2b;
        --tittle: #27ae60;
        --white: #ffffff;
        --blue-cyan: rgb(0, 242, 255);
    }

    body {
        width: 100vw;
        height: 100vh;
        background-color: var(--background-body);
        font-family: 'Poppins', sans-serif;
        color: var(--white);
    }



    .nav {
        display: flex;
        align-items: center;
        justify-content: center;

    }

    .nav-links {
        color: var(--white);
        display: flex;
        flex-direction: row;
        gap: 1.5rem;
        align-items: center;
        justify-content: center;
        position: fixed;
        width: 300px;
        height: 90px;
        border-radius: 40px;
        bottom: 1.5rem;
        font-size: 35px;
        background-color: #27ae5f;
    }
    .nav-links i{
        color: var(--white);
    }

    .nav-links i:hover {
        color: var(--blue-cyan);
        transform: scale(1.2);

    }

    .presentation {
        height: 100vh;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: center;

    }

    .description {
        width: 400px;
        margin-bottom: 30rem;
    }

    .description h1,
    h2 {
        font-size: 25px;
    }

    .description h1 span, h2 span {
        font-size: 35px;
        color: var(--tittle);
    }

    .description p {
        font-size: 15px;
        padding-right: 2rem;
        padding-left: 2rem;
    }

    .presentation img {
        position: absolute;
        bottom: 10rem;
        
        box-shadow: 5px 5px 10px 2px var(--tittle);
        /* background-color: rgba(0, 0, 0, 0.516); */
        border-radius: 50%;
    }

    .presentation img:hover {
        box-shadow: 5px 5px 10px 2px rgb(0, 242, 255);
        transform: scale(1.1);
       
    }

    .btn-cv {

        background-color: transparent;
        border: none;
        position: absolute;
        width: 150px;
        height: 40px;
        bottom: 7.2rem;
        border-radius: 30px;
        box-shadow: 1px 1px 2px 1px var(--tittle);
    }

    .btn-cv:hover {
        background-color: var(--tittle);
        box-shadow: 3px 3px 2px 1px var(--blue-cyan);
        color: white;
        transform: scale(1.2);
    }

    .btn-cv span {
        font-size: 25px;
        color: antiquewhite;
    }

