    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    html{
        scroll-behavior: smooth;
    }

    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;900&display=swap');

    :root {
        --background-body: #191d2b;
        --tittle: #27ae60;
        --white: #ffffff;
        --blue-cyan: rgb(0, 242, 255);
    }

    body {
        width: 100vw;
        height: 100vh;
        background-color: var(--background-body);
        font-family: 'Poppins', sans-serif;
        color: var(--white);
    }



    .nav {
        display: flex;
        align-items: center;
        justify-content: center;

    }

    .nav-links {
        color: var(--white);
        display: flex;
        flex-direction: row;
        gap: 1.5rem;
        align-items: center;
        justify-content: center;
        position: fixed;
        width: 300px;
        height: 90px;
        border-radius: 40px;
        bottom: 1.5rem;
        font-size: 35px;
        background-color: #27ae5f;
        z-index: 10;
    }

    .nav-links i {
        color: var(--white);
    }

    .nav-links i:hover {
        color: var(--blue-cyan);
        transform: scale(1.2);

    }

    .presentation {
        height: 100vh;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: center;

    }

    .description {
        width: 400px;
        margin-bottom: 30rem;
    }

    .description h1,
    h2 {
        font-size: 25px;
    }

    .description h1 span,
    h2 span {
        font-size: 35px;
        color: var(--tittle);
    }

    .description p {
        font-size: 15px;
        padding-right: 2rem;
        padding-left: 2rem;
        margin-bottom: 1rem;
        margin-top: -1rem;
    }

    .presentation img {
        position: absolute;
        bottom: 10rem;

        box-shadow: 5px 5px 10px 2px var(--tittle);
        /* background-color: rgba(0, 0, 0, 0.516); */
        border-radius: 50%;
    }
    
    @keyframes mover{
        0%{
            transform: scale(1.5);
        }
    }

    .presentation img:hover {
        box-shadow: 5px 5px 10px 2px rgb(0, 242, 255);
        transform: scale(1.1);

    }

    .btn-cv {

        background-color: transparent;
        border: none;
        position: absolute;
        width: 150px;
        height: 40px;
        bottom: 7.2rem;
        border-radius: 30px;
        box-shadow: 1px 1px 2px 1px var(--tittle);
    }

    .btn-cv:hover {
        background-color: var(--tittle);
        box-shadow: 3px 3px 2px 1px var(--blue-cyan);
        color: white;
        transform: scale(1.2);
    }

    .btn-cv span {
        font-size: 25px;
        color: antiquewhite;
    }

    .container-aboutMe {
        margin-top: -3rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-left: 2rem;
        padding-right: 2rem;
        text-align: center;
    }

    .aboutMe h1 {

        font-size: 35px;
        line-height: 2.2rem;
        margin-top: -2rem;
    }

    .aboutMe h1 span1 {

        color: var(--tittle);
    }


    .aboutMe h1 span {

        opacity: 10%;
        font-size: 45px;
    }

    .aboutMe p {
        width: 400px;
        padding-left: 2rem;
        padding-right: 2rem;
        font-size: 20px;
    }

    .review {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

    }


    .box-review {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 300px;
        height: 180px;
        box-shadow: 1px 1px 10px 1px var(--tittle);


    }

    .box-review:hover {
        box-shadow: 1px 1px 10px 1px var(--blue-cyan);
        transform: scale(1.2);
    }

    .box-review h2 {
        color: var(--tittle);
        font-size: 50px;
        border-bottom: 2px solid rgba(128, 128, 128, 0.525);
    }

    .technology {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1.5rem;

    }

    .img-technology {
        width: 100px;
        object-fit: contain;
    }

    .react:hover {
        transform: scale(1.2);
    }

    .container-aboutMe h1 {
        font-size: 35px;
    }

    .container-aboutMe h1 span {

        font-size: 35px;
        color: var(--tittle);
    }



    .abilities {
        width: 100%;

    }


    .abilities h1 {
        font-size: 35px;
    }

    .abilities h1 span {
        font-size: 35px;
        color: var(--tittle);
    }

    .bp {
        display: flex;
        height: 40px;
        flex-direction: column;
        width: 100%;
    }


.projects-container h1{
    text-align: center;
    font-size: 35px;
    color: var(--tittle);

}

.projects-container{
    display: grid;
    gap: 2rem;
}
.card{
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
    position: relative;
    overflow: hidden;
    cursor: pointer;
   


}
.card img{
    
    display: block;
    width: 370px;
    height: 250px;
    gap: 2rem;
    border-radius: 10px;
}
.card:hover footer{
    width: 370px;
}
.card footer{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 0;
    height: 250px;
    background-color: rgba(0, 255, 255, 0.574);
    position: absolute;
    top: 0;
    transition: all 400ms ease-in-out;
    border-radius: 10px;
}
.card footer p{
    color: black;
    width: 250px;
    height: 150px;
    position: absolute;
}
.card footer a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 12rem;
  margin-left: 2rem;
  font-size: 40px;
  text-decoration-style: none;
  color: var(--background-body);
}






.form, .form-container{
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-container H1{
    font-size: 35PX;
    color: var(--tittle);
}
.contaApp{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2rem;
}



.form-container p a i{
  font-size: 60px;
  color: var(--white);
  text-decoration-style: none;
}
.form-container p a i:hover{
    transform: scale(1.3);

  }




.Form{
    display: grid;
}
input{
    width: 229px;
    height: 30px;
    background-color: #ffffff;
    border-radius: 10px;
    border: none;
    text-align: center;
    margin-top: -.7rem;
    
}

textarea{
    border-radius: 5px;
    text-align: center;
    
}
.btn-submit{
    display: flex;
    justify-content: center;
}

.btn-form{
    border: none;
    width: 150px;
    height: 50px;
   display: flex;
   justify-content: center;
   align-items: center;
    text-align: center;
    border-radius: 30px;
    font-size: 15px;
    background-color: transparent;
    border: 2px solid var(--tittle);
    color: var(--white);
}
.btn-form:hover {
    font-size: 25px;
    background-color: var(--tittle);
    box-shadow: 3px 3px 5px 1px var(--blue-cyan) ;
}